// Imports
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// Variables
$bone: #e0ddcf;
$jasper: #d33e43;
$onyx: #353a47;
$black-shadow: #b8b5aa;
$feature-bg: #53A2BE;
$contact-bg: #053C5C;
$footer-bg: #2f2f2f;
$white-bg: #ffffff;
$font-white: #f5f6f7;
$font-black: #555555;
$font-stack: 20px 'Josefin Sans', sans-serif;

body {
    font: $font-stack;
    line-height: 1.8;
    background-color: $bone;
    color: $onyx;
}

p {font-size: 16px;}

.margin {margin-bottom: 15px;}

.padding {padding: 30px;}

.container-fluid {
	padding-top: 10px;
	padding-bottom: 20px;
  background-color: $bone;
}

@import 'partials/_navbar';

.thumbnail {
  background-color: $black-shadow;
}

.icon-container {
	width: 100%;
	padding-bottom: 10px;
}

.icon {
	height: 45px;
	width: 45px;
	margin-left: 3px;
	margin-top: 3px;
}

.social {
	margin: auto;
    margin-bottom: 25px;
}

.popover {
	color: #000;
	overflow: scroll;
}


@media(min-width:993px) {

.container-fluid {
  	padding-top: 30px;
  	padding-bottom: 30px;

    h2 {
      color: $jasper;
    }
}

.icon {
  height: 65px;
  width: 65px;
  margin-left: 3px;
  margin-top: 3px;
}

.margin {margin-bottom: 25px;}
.padding {padding: 50px;}

}
