// Imports
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// Variables
$bone: #e0ddcf;
$jasper: #d33e43;
$onyx: #353a47;
$black-shadow: #b8b5aa;
$feature-bg: #53A2BE;
$contact-bg: #053C5C;
$footer-bg: #2f2f2f;
$white-bg: #ffffff;
$font-white: #f5f6f7;
$font-black: #555555;
$font-stack: 20px 'Josefin Sans', sans-serif;

body {
  background-color: $bone;
  color: $onyx;
  font: $font-stack;
  line-height: 1.8;
}

p {font-size: 16px;}

.margin {margin-bottom: 15px;}

.padding {padding: 30px;}

.container-fluid {
  background-color: $bone;
  padding-bottom: 20px;
  padding-top: 10px;
}

@import 'partials/_navbar';

.thumbnail {
  background-color: transparent;
  border: 2px solid $black-shadow;
  box-shadow: 5px 5px 3px $black-shadow;
}

.icon-container {
  padding-bottom: 10px;
  width: 100%;
}

.icon {
  height: 45px;
  margin-left: 3px;
  margin-top: 3px;
  width: 45px;
}

.social {
  margin: auto;
  margin-bottom: 25px;
}

.popover {
  color: #000;
  overflow: scroll;
}


@media(min-width:993px) {

  .container-fluid {
    padding-bottom: 30px;
    padding-top: 30px;

    h2 {
      color: $jasper;
    }
}

  .icon {
    height: 65px;
    margin-left: 3px;
    margin-top: 3px;
    width: 65px;
}

  .margin {margin-bottom: 25px;}
  .padding {padding: 50px;}

}
