 <style>
 
      body {
 
        font: 20px Montserrat, sans-serif;
 
        line-height: 1.8;
 
        color: #f5f6f7;
 
        }
 
        p {font-size: 16px;}
 
        .margin {margin-bottom: 15px;}
 
      .padding {padding: 20px;}
 
        .bg-1 { 
 
        background-color: #53A2BE; /* Light Blue */
 
        color: #ffffff;
 
        }
 
        .bg-2 { 
 
        background-color: #053C5C; /* Dark Blue */
 
        color: #ffffff;
 
        }
 
        .bg-3 { 
 
        background-color: #ffffff; /* White */
 
        color: #555555;
 
        }
 
        .bg-4 { 
 
        background-color: #2f2f2f; /* Black Gray */
 
        color: #fff;
 
        }
 
        .container-fluid {
 
        padding-top: 10px;
 
        padding-bottom: 10px;
 
        }
 
        .navbar {
 
        padding-top: 15px;
 
        padding-bottom: 15px;
 
        border: 0;
 
        border-radius: 0;
 
        margin-bottom: 0;
 
        font-size: 12px;
 
        letter-spacing: 5px;
 
        }
 
        .navbar-nav  li a:hover {
 
        color: #53A2BE !important;
 
        }
 
      .navbar-header {
 
        padding: 0px;
 
        line-height: 1
 
      }
 
      .navbar-brand {
 
        padding-top: 0;
 
      }
 
      .navbar-brand > img {
 
        height: 45px;
 
      }
 
      .icon {
 
        height: 45px;
 
        width: 45px;
 
        margin-left: 3px;
 
        margin-top: 3px;
 
      }
 
      .social {
 
        margin: auto;
 
      }
 
      @media(min-width:768px) {
 
        .container-fluid {
 
          padding-top: 30px;
 
          padding-bottom: 70px;
 
        }
 
        .icon {
 
          height: 95px;
 
          width: 95px;
 
          margin-left: 3px;
 
          margin-top: 3px;
 
        }
 
        .margin {margin-bottom: 25px;}
 
-
        .padding {padding: 50px;}
 
      }
 
    </style>
 