.navbar {
  border: 0;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 5px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;

  &-header {
    line-height: 1;
    padding: 0;
    }

  &-brand {
    padding-top: 0;

    img {
      width: 105px;
        }
    }
}

.navbar-default {
  background-color: $bone;

  .navbar-text {
    color: $onyx;
  }
}

.navbar-nav {
  li {

    margin-left: 20px;

    a {
      color: $onyx;

      img {
        height: 50px;
      }
    }

    a:hover {
      color: $jasper;
    }
  }
}
