.navbar {
  padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 15px;
	letter-spacing: 5px;

    &-header {
        padding: 0px;
        line-height: 1;
    }

    &-brand {
        padding-top: 0;

        img {
            height: 45px;
        }
    }
}

.navbar-default {
  background-color: $bone;

  .navbar-text {
    color: $onyx;
  }

  .navbar-nav {
    li {
        a {
          color: $onyx;
        }

        a:hover {
            color: $jasper;
        }
    }
  }
}
